<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <head th:include="include :: css-common"></head>
</head>
<body>
<div th:replace="navbar::navbar-common"></div>
<div id="middle" class="container-fluid">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="row" >
                <div class="col-9 main">
                    <!-- 此row是文章简介main -->
                    <div class="article-item box-shadow mb-3" th:each="article:${articles}">
                        <h5>
                            <a href="#" th:text="${article.articleTitle}">java虚拟机运行时数据区</a>
                        </h5>
                        <p class="content">
                            <a href="#" th:text="${article.articleContentInfo}">运行时数据区 java虚拟机定义了几种程序运行期间会用到的运行时数据区： pc寄存器 pc(program counter)寄存器又叫程序计数器，它是与线程一一对应的，因为一条线程只能执行一个方法的代码，如果该方法不是native方法(其它语言编写的方法)，则该pc寄存器就是保存当前操作的字节码...</a>
                        </p>
                        <div class="info">
                            <p><span class="date" th:text="${article.articleDate}">2020-01-19 00:49:25</span></p>
                            <p class="point"></p>
                            <p><span class="read-num">阅读数<span class="num" th:text="${article.articleViewsCount}">1</span></span></p>
                            <p class="point"></p>
                            <p><span class="like-num">点赞数<span class="num" th:text="${article.articleLikeCount}">1</span></span></p>
                            <p class="point"></p>
                            <p><span class="comment-num">评论数<span class="num" th:text="${article.articleCommentCount}">1</span></span></p>
                        </div>
                    </div>
                    <div class="article-item box-shadow mb-3">
                        <ul class="pagination justify-content-center" th:with="tids = ${tid}">
                            <li class="page-item" th:classappend="${articles.isFirst() eq true?'disabled':''}" ><a class="page-link" th:href="@{/(pageNo=${articles.number - 1},tagId=${tids})}">上一页</a></li>
                            <li class="page-item" th:classappend="${articles.number+1 eq index?'active':''}" th:each="index:${#numbers.sequence(1,articles.getTotalPages())}"><a class="page-link" th:href="@{/(pageNo=${index}-1,tagId=${tids})}" th:text="${index}">1</a></li>
                            <li class="page-item" th:classappend="${articles.isLast() eq true?'disabled':''}"><a class="page-link" th:href="@{/(pageNo=${articles.number + 1},tagId=${tids})}">下一页</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-3 aside">
                    <div class="row thriving">
                        <!--  这个row是右列aside-->
                        <div class="card box-shadow">
                            <div class="card-header text-center">
                                分享
                            </div>
                            <div class="card-body">
                                <blockquote class="blockquote mb-0">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                                    </p>
                                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source
                                        Title</cite></footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3 tags" >
                        <!--  这个row是右列tags-->
                        <div class="card box-shadow">
                            <div class="card-header text-center">
                                分类
                            </div>
                            <div class="card-body">
                                <a  th:href="@{/(tagId=null)}" href="#" class="btn btn-primary btn-block" th:text="全部类别"></a>
                                <a th:each="tag:${tags}" th:href="@{/(tagId=${tag.tagId})}" href="#" class="btn btn-primary btn-block" th:text="${tag.tagName+'  '+tag.tagNum}">Java</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<body th:include="include :: js-common"></body>
<!--<script th:inline="javascript">-->
<!--    // $(function () {-->
<!--        // $.ajax({-->
<!--        //     url : "/articles",-->
<!--        //     async : true,-->
<!--        //     data :{-->
<!--        //         pageNo : 1,-->
<!--        //         sum : 5,-->
<!--        //         direction : "DESC",-->
<!--        //         property : "articleId"-->
<!--        //     },-->
<!--        //     type : "get",-->
<!--        //     success:function (result) {-->
<!--        //         console.log(result);-->
<!--        //     }-->
<!--        // })-->
<!--    // })-->
<!--</script>-->
</body>
</html>